html {
  background: #e5e5e5;
  overflow-x: scroll;
}

a {
  color: white;
  text-decoration: none;
}

@media only screen and (min-width: 700px) {
  .mobile-menu {
    display: none;
  }

  .wrapper {
    margin: 0 auto;
    width: 1440px;
    height: 942px;
    background-color: #1c1a19;
    background-image: url(./images/Illustration-header.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    display: flex;
    flex-direction: column;
  }

  .nav {
    background-color: #3e3c3c;
    display: flex;
    align-items: center;
    justify-items: center;
    flex: 1;
  }

  .menu {
    flex: 1;
    display: flex;
    justify-content: space-around;
  }

  .portfolio-nav {
    flex: 1;
  }

  .contact-nav {
    flex: 1;
  }

  .about-nav {
    flex: 1;
  }

  .union-nav {
    flex: 1;
  }

  .hamburger-nav {
    display: none;
  }

  .name {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    text-align: left;
    letter-spacing: -0.28px;
    color: white;
    padding-left: 36px;
    flex: 1;
  }

  .hamburger {
    flex: 1;
    align-self: start;
    text-align: right;
    padding-right: 36px;
  }

  .main-page {
    display: flex;
    flex: 20;
    align-items: center;
  }

  .wrapper-extra {
    display: flex;
    flex-direction: column;
    flex: 10;
    order: 2;
  }

  .social-group ul {
    list-style: none;
    margin: 50px;
    padding: 0;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    flex: 1;
  }

  .info {
    width: 327px;
    height: 124px;
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 64px;
    letter-spacing: 0.37px;
    color: #ff6b00;
    padding-top: 1px;
    padding-left: 24px;
    margin-top: 100px;
    margin-bottom: 12px;
    transition-property: font-size;
    transition-duration: 4s;
    transition-delay: 2s;
  }

  .info:hover {
    width: 327px;
    height: 124px;
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: 0.37px;
    color: #ff6b00;
    padding-top: 1px;
    padding-left: 24px;
    margin-top: 100px;
    margin-bottom: 12px;
    font-size: 156px;
  }

  .intro p {
    width: 327px;
    height: 27px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #fff5e1;
    padding-left: 24px;
    padding-bottom: 1px;
    margin-top: 12px;
    margin-bottom: 12px;
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: 3;
    animation-direction: alternate;
  }

  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }

    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  .intro-content p {
    width: 265px;
    height: 123px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-style: normal;
    color: white;
    padding-left: 24px;
    padding-bottom: 36px;
    padding-top: 1px;
    margin-top: 1px;
  }

  .wrapper-works {
    margin: 0 auto;
    background-color: white;
    width: 1440px;
    height: 1810px;
    display: flex;
    flex-direction: column;
  }

  .title {
    display: flex;
    align-items: center;
    margin-bottom: 140px;
  }

  .title .text {
    width: 315px;
    height: 52px;
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    align-items: center;
    color: #091e42;
    padding-top: 135px;
    padding-left: 153px;
    flex: 1;
  }

  .title .line {
    width: 315px;
    height: 52px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: rgb(41, 37, 37);
    padding-top: 90px;
    margin-left: 24px;
    margin-right: 143px;
    flex: 3;
  }

  .container-duo-A {
    display: flex;
    margin-bottom: 24px;
  }

  .image-work {
    width: 684px;
    height: 448px;
    margin-left: 141px;
    flex: 1;
  }

  .extra-wrapper {
    flex: 1;
    margin-right: 143px;
    margin-left: 24px;
  }

  .title-multi {
    width: 448px;
    height: 48px;
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #091e42;
  }

  .works-description {
    width: 448px;
    height: 140px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #091e42;
  }

  .button-container-A {
    list-style: none;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 50px 50px;
    padding-left: 24px;
    padding-right: 24px;
    column-gap: 15px;
    row-gap: 15px;
  }

  .button1 {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px 12px;
    background: white;
    border: 1px solid #8993a4;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #091e42;
  }

  .button1:hover {
    color: black;
    background: #fff5e1;
    border: 1px solid #f55800;
  }

  .button2 {
    grid-column-start: 1;
    grid-column-end: 3;
    color: white;
    background: #ff6b00;
    border: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.03em;
  }

  .button2:hover {
    color: #f55800;
    background: #fff5e1;
    border: 1px solid #f55800;
  }

  .wrapper-cards {
    display: grid;
    grid-template-columns: repeat(3, 369px);
    grid-template-rows: repeat(2, 435px);
    flex: 1;
    margin-left: 141px;
    column-gap: 24px;
    row-gap: 37px;
  }

  .card-0 {
    grid-column: 1 / 1;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    height: 435px;
    width: 369px;
  }

  .card-0 .up {
    flex: 15;
    background-image: url(./images/card-0-back.png);
  }

  .card-0 .down {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff6b00;
    color: white;
    flex: 1;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.03em;
  }

  .card-0 .down:hover {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    border-style: none;
    color: #ff6b00;
    background: #fff5e1;
    text-align: center;
  }

  .card-1 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-color: white;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 435px;
    width: 369px;
  }

  .image-card {
    background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url(./images/Placeholder2.png);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 15;
    height: 390px;
    width: 369px;
  }

  .title-post {
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    margin-left: 24px;
    margin-right: 24px;
    padding-left: 12px;
    color: white;
    flex: 1;
    margin-top: 150px;
  }

  .supporting-text {
    width: 295px;
    height: 87px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: white;
    padding-left: 12px;
    padding-bottom: 1px;
    flex: 1;
  }

  .button-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    padding-top: 1px;
    padding-left: 1px;
    padding-right: 24px;
    padding-bottom: 24px;
    margin-top: 1px;
    column-gap: 15px;
    margin-bottom: 24px;
  }

  .button3 {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    padding: 10px 12px;
    background: rgba(255, 255, 255, 0.24);
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    height: 40px;
    border-style: none;
    color: white;
  }

  .button3:hover {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    padding: 10px 12px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    height: 40px;
    border-style: none;
    color: black;
    background: #fff5e1;
  }

  .orange-button {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    background: #ff6b00;
    color: white;
    flex: 1;
  }

  .orange-button:hover {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    flex: 1;
    color: #ff6b00;
    background: #fff5e1;
    border: 1px solid #ff6b00;
  }

  .card-2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: white;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 435px;
    width: 369px;
  }

  .image-card-B {
    background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url(./images/card-1-back.png);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 15;
    height: 390px;
    width: 369px;
  }

  .card-3 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: white;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 435px;
    width: 369px;
  }

  .card-4 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    background-color: white;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 435px;
    width: 369px;
  }

  .image-card-C {
    background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url(./images/card-4-back.png);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 15;
    height: 390px;
    width: 369px;
  }

  .card-5 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    background-color: white;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 435px;
    width: 369px;
  }

  .finale {
    margin: 0 auto;
    height: 541px;
    width: 1440px;
    background: #1c1a19;
    background-image: url(./images/illustration-about-me.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 672px 352px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-items: left;
    align-items: flex-start;
    margin-top: 141px;
  }

  .about-me {
    width: 566px;
    height: 78px;
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 82px;
    color: #f55800;
    margin-left: 142px;
  }

  .finale-description {
    width: 566px;
    height: 148px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #f4f5f7;
    margin-left: 142px;
  }

  .get-my-resume {
    width: 161px;
    height: 48px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    background: #ff6b00;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    justify-content: center;
    color: white;
    margin-left: 142px;
    border-style: none;
  }

  .get-my-resume:hover {
    width: 161px;
    height: 48px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    background: #fff5e1;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    justify-content: center;
    color: #ff6b00;
    margin-left: 142px;
    border-style: none;
  }

  .wrapper-big {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .wrapper-end {
    margin: 0 auto;
    width: 1440px;
    height: 604px;
    background: #1c1a19;
    display: flex;
  }

  .line-separator {
    height: 12px;
    width: 1156px;
    margin-left: 144px;
    margin-right: 144px;
    margin-bottom: 200px;
    margin-top: 100px;
    border-top-style: solid;
    border-top-width: 1px;
    border-color: white;
    flex: 1;
  }

  .container-duo {
    height: 24px;
    display: flex;
    gap: 20px;
    justify-content: center;
    text-align: center;
  }

  .container-duo .item-rotated-square {
    color: white;
    text-align: right;
    width: 18px;
    height: 18px;
    background: #ff6b00;
    transform: rotate(-45deg);
  }

  .container-duo .item2 {
    flex: 1;
    text-align: left;
    width: 164px;
    height: 24px;
    font-family: 'InaiMathi', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: white;
  }

  .list-arrange {
    list-style: none;
    margin-left: 1px;
    padding-left: 1px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }

  .language-item {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 43px;
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    flex: 1;
  }

  .container-duo .item-square {
    color: white;
    text-align: right;
    width: 18px;
    height: 18px;
    background: #ff6b00;
  }

  .container-duo .item-circle {
    color: white;
    text-align: right;
    width: 18px;
    height: 18px;
    background: #ff6b00;
    border-radius: 150px;
  }

  .wrapper-space {
    margin: 0 auto;
    width: 1440px;
    height: 100px;
    flex: 1;
    background: #1c1a19;
  }

  .wrapper-contact {
    margin: 0 auto;
    width: 1440px;
    height: 700px;
    background-color: white;
    display: flex;
  }

  .content-text {
    height: 256px;
    width: 455px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #262626;
    margin-left: 135px;
    margin-right: 24px;
    margin-top: 130px;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: solid;
    border: none;
    flex: 1;
    margin-top: 130px;
    margin-bottom: 230px;
  }

  .my-ul {
    list-style: none;
    display: flex;
    flex-direction: column;
  }

  .name-li {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #dbd8d7;
    margin-bottom: 36px;
    flex: 1;
    padding-bottom: 12px;
    margin-right: 172px;
  }

  .name-input {
    width: 584px;
    height: 18px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #979493;
    border: none;
    text-align: left;
    padding-left: 24px;
  }

  .email-li {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #dbd8d7;
    margin-bottom: 24px;
    flex: 1;
    padding-bottom: 12px;
    margin-right: 172px;
  }

  .email-input {
    width: 584px;
    height: 18px;
    left: 16px;
    right: 16px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #979493;
    border: none;
    text-align: left;
    padding-left: 24px;
  }

  .text-area {
    height: 114px;
    width: 584px;
    border: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #3c3a39;
    background: #fbf8f7;
    margin-right: 4px;
    padding-left: 24px;
  }

  .get-in-touch-form {
    height: 48px;
    width: 137px;
    padding: 12px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.03em;
    background: #ff6b00;
    color: white;
    border: none;
    margin-left: 40px;
  }

  .get-in-touch-form:hover {
    height: 48px;
    width: 137px;
    padding: 12px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.03em;
    background: #fff5e1;
    color: #ff6b00;
    border: none;
  }

  .wrapper-B {
    margin: 0 auto;
    width: 1440px;
    height: 44px;
    background-color: white;
    display: flex;
    justify-items: right;
    border-top-style: solid;
    border-top-color: #dfe1e6;
    border-top-width: 1px;
  }

  .social-group-end {
    width: 307px;
    height: 24px;
    background-color: white;
    color: white;
    justify-items: center;
    gap: 30px;
    display: flex;
    align-items: center;
    margin-left: 600px;
    padding-top: 12px;
  }

  .overlay {
    position: fixed;
    width: 1440px;
    height: 1519px;
    top: 0%;
    left: 1%;
    right: 1%;
    margin-right: auto;
    margin-left: auto;
    background: #979493;
    display: none;
    z-index: 1;
    mix-blend-mode: multiply;
  }

  .container-pop-up {
    box-sizing: border-box;
    position: fixed;
    height: 570px;
    width: 1056px;
    left: 52px;
    top: 22px;
    background: #fff;
    border: 1px solid #dfe1e6;
    z-index: 2;
    overflow-x: scroll;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-left: 24px;
  }

  .wrapper-1 {
    display: flex;
    flex-direction: row;
    flex: 1;
  }

  .wrapper-2 {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-items: flex-end;
    gap: 24px;
    margin-bottom: 30px;
  }

  .wrapper-3 {
    display: flex;
    flex-direction: row;
    flex: 10;
    gap: 24px;
    margin-bottom: 24px;
  }

  .wrapper-4 {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .wrapper-5 {
    display: flex;
    flex-direction: row;
    flex: 0.1;
    gap: 24px;
  }

  .blue {
    background-color: white;
    flex: 1;
  }

  .red {
    background-color: white;
    flex: 1;
  }

  .yellow {
    background-color: white;
    flex: 0.1;
  }

  .green {
    background-color: white;
    flex: 1;
  }

  .orange {
    background-color: white;
    flex: 1;
  }

  .brown {
    background-color: white;
    flex: 1;
  }

  .title-multi-popup-mobile {
    display: none;
    float: right;
  }

  .title-multi-popup-desktop {
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    color: #172b4d;
  }

  .cross-popup {
    justify-content: flex-end;
    padding: 37px;
  }

  .image-work-popup {
    max-height: 100%;
  }

  .works-description-popup {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #344563;
  }

  .orange-button-popup {
    width: 134px;
    height: 28px;
    padding: 12px;
    gap: 12px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.03em;
    color: #fff;
    background: #ff6b00;
    flex: 1;
  }

  .orange-button-popup img {
    padding-left: 24px;
  }
}

@media only screen and (max-width: 700px) {
  .nav {
    background-color: #3e3c3c;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .name {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    text-align: left;
    letter-spacing: -0.28px;
    color: white;
    padding-left: 36px;
    flex: 1;
  }

  .menu {
    flex: 1;
    display: none;
  }

  .hamburger-nav {
    flex: 1;
    align-self: flex-end;
    text-align: right;
    padding-right: 36px;
  }

  .wrapper {
    margin: 0 auto;
    background-color: #1c1a19;
    background-image: url(./images/Illustration.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 375px;
    height: 600px;
  }

  .info {
    width: 327px;
    height: 124px;
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 0.37px;
    color: #ff6b00;
    padding-top: 1px;
    padding-left: 24px;
    margin-top: 100px;
    margin-bottom: 12px;
  }

  .intro p {
    width: 327px;
    height: 27px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #fff5e1;
    padding-left: 24px;
    padding-bottom: 1px;
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .intro-content p {
    width: 265px;
    height: 123px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-style: normal;
    color: white;
    padding-left: 24px;
    padding-bottom: 36px;
    padding-top: 1px;
    margin-top: 1px;
  }

  .social-group ul {
    list-style: none;
    margin: 0;
    padding: 0;
    color: white;
    display: flex;
    justify-content: space-around;
    padding-left: 36px;
  }

  h1:hover {
    background-color: #3e3c3c;
    color: #4c9ed9;
    border: 1px solid #111;
  }

  .social-group li {
    width: 10px;
    color: white;
    flex: 1;
  }

  .empty {
    flex: 4;
  }

  .social img {
    width: 17px;
  }

  .image-work {
    width: 327px;
    height: 327px;
    margin-top: 20px;
    margin-left: 24px;
    margin-bottom: 24px;
  }

  .wrapper-works {
    margin: 0 auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 375px;
    height: 3600px;
  }

  .title {
    width: 327px;
    height: 100px;
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #1c1a19;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 100px;
    margin-bottom: 50px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
  }

  .title-multi {
    width: 327px;
    height: 36px;
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    align-items: center;
    color: #091e42;
    margin-top: 1px;
    margin-bottom: 24px;
    margin-left: 24px;
  }

  .works-description {
    width: 327px;
    height: 147px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #091e42;
    padding-left: 24px;
    margin-bottom: 24px;
  }

  .button-container-A {
    list-style: none;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 50px 50px;
    padding-left: 24px;
    padding-right: 24px;
    column-gap: 15px;
    row-gap: 15px;
  }

  .button1 {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px 12px;
    background: white;
    border: 1px solid #8993a4;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #091e42;
  }

  .button1:hover {
    color: black;
    background: #fff5e1;
    border: 1px solid #f55800;
  }

  .button2 {
    grid-column-start: 1;
    grid-column-end: 3;
    color: white;
    background: #ff6b00;
    border: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.03em;
  }

  .button2:hover {
    color: #f55800;
    background: #fff5e1;
    border: 1px solid #f55800;
  }

  .wrapper-cards {
    display: grid;
    grid-template-columns: 327px;
    grid-template-rows: repeat(6, 400px);
  }

  .card-0 {
    grid-column: 1 / 1;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    height: 386px;
    width: 327px;
    margin-left: 24px;
  }

  .card-0 .up {
    flex: 10;
    background-image: url(./images/card-0-back.png);
  }

  .card-0 .down {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff6b00;
    color: white;
    flex: 1;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.03em;
  }

  .card-0 .down:hover {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    border-style: none;
    color: #ff6b00;
    background: #fff5e1;
    text-align: center;
  }

  .card-1 {
    grid-column: 1 / 1;
    grid-row: 2 / 3;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 375px;
    height: 400px;
  }

  .image-card {
    width: 327px;
    height: 386px;
    background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url(./images/Placeholder2.png);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 24px;
    flex: 15;
  }

  .title-post {
    width: 295px;
    height: 81px;
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    margin-top: 30px;
    margin-left: 24px;
    margin-right: 24px;
    padding-left: 12px;
    color: white;
    flex: 1;
  }

  .supporting-text {
    width: 295px;
    height: 87px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: white;
    padding-left: 12px;
    padding-bottom: 1px;
    flex: 1;
  }

  .button-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    padding-top: 1px;
    padding-left: 1px;
    padding-right: 24px;
    margin-top: 1px;
    column-gap: 15px;
    margin-bottom: 24px;
    flex: 1;
  }

  .button-container .button3 {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    padding: 10px 12px;
    background: rgba(255, 255, 255, 0.24);
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    height: 40px;
    border-style: none;
    color: white;
  }

  .button-container .button3:hover {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    padding: 10px 12px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    height: 40px;
    border-style: none;
    color: black;
    background: #fff5e1;
  }

  .orange-button {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    background: #ff6b00;
    color: white;
    flex: 1;
    margin-left: 24px;
    margin-right: 24px;
  }

  .orange-button:hover {
    width: 327px;
    height: 40px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    flex: 1;
    color: #ff6b00;
    background: #fff5e1;
    border: 1px solid #ff6b00;
  }

  .card-2 {
    grid-column: 1 / 1;
    grid-row: 3 / 4;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 375px;
    height: 400px;
  }

  .image-card-B {
    width: 327px;
    height: 386px;
    background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url(./images/card-1-back.png);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 24px;
    flex: 15;
  }

  .card-3 {
    grid-column: 1 / 1;
    grid-row: 4 / 5;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 375px;
    height: 400px;
  }

  .image-card-C {
    width: 327px;
    height: 386px;
    background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url(./images/card-4-back.png);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 24px;
    flex: 15;
  }

  .card-4 {
    grid-column: 1 / 1;
    grid-row: 5 / 6;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 375px;
    height: 400px;
  }

  .card-5 {
    grid-column: 1 / 1;
    grid-row: 6 / 7;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 375px;
    height: 400px;
  }

  .finale {
    margin: 0 auto;
    width: 375px;
    height: 652px;
    background: #1c1a19;
    background-image: url(./images/illustration-about-me-mobile.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-items: left;
    align-items: flex-start;
  }

  .about-me {
    width: 327px;
    height: 79px;
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 88px;
    letter-spacing: 0.37px;
    color: #ff6b00;
    margin-top: 120px;
    padding: 24px;
  }

  .finale-description {
    width: 327px;
    height: 148px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #f4f5f7;
    margin: 24px;
  }

  .get-my-resume {
    width: 161px;
    height: 50px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    background: #ff6b00;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 12px;
    margin-top: 1px;
    margin-left: 24px;
  }

  .get-my-resume:hover {
    width: 161px;
    height: 50px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    background: #fff5e1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f55800;
    padding: 12px;
    margin-top: 1px;
    margin-left: 24px;
  }

  .line-separator {
    width: 327px;
    height: 2px;
    color: white;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 100px;
    margin-bottom: 100px;
    border-top-style: solid;
    border-top-width: 1px;
    border-color: white;
  }

  .wrapper-end {
    margin: 0 auto;
    width: 375px;
    height: 1000px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: #1c1a19;
  }

  .container-duo {
    height: 24px;
    display: flex;
    gap: 20px;
    justify-content: center;
    text-align: center;
  }

  .container-duo .item-rotated-square {
    color: white;
    text-align: right;
    width: 18px;
    height: 18px;
    background: #ff6b00;
    transform: rotate(-45deg);
  }

  .container-duo .item2 {
    flex: 1;
    text-align: left;
    width: 164px;
    height: 24px;
    font-family: 'InaiMathi', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: white;
  }

  .list-arrange {
    list-style: none;
    margin-left: 1px;
    padding-left: 1px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }

  .language-item {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 43px;
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    flex: 1;
  }

  .container-duo .item-square {
    color: white;
    text-align: right;
    width: 18px;
    height: 18px;
    background: #ff6b00;
  }

  .container-duo .item-circle {
    color: white;
    text-align: right;
    width: 18px;
    height: 18px;
    background: #ff6b00;
    border-radius: 150px;
  }

  .wrapper-space {
    margin: 0 auto;
    width: 375px;
    height: 100px;
    flex: 1;
    background: #1c1a19;
  }

  .wrapper-space-white {
    margin: 0 auto;
    width: 375px;
    height: 100px;
    flex: 1;
    background: white;
  }

  .wrapper-contact {
    margin: 0 auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: space-around;
    width: 375px;
    height: 900px;
  }

  .content-text {
    width: 315px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    color: #172b4d;
    padding-top: 20px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .contact-form {
    margin: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .my-ul {
    list-style: none;
    display: flex;
    flex-direction: column;
  }

  .name-li {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #dbd8d7;
    margin-right: 24px;
    margin-bottom: 36px;
    flex: 1;
    padding-bottom: 12px;
  }

  .name-input {
    width: 295px;
    height: 18px;
    left: 16px;
    right: 16px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #979493;
    border: none;
    text-align: left;
    padding-left: 24px;
  }

  .email-li {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #dbd8d7;
    margin-right: 24px;
    margin-bottom: 24px;
    flex: 1;
    padding-bottom: 12px;
  }

  .email-input {
    width: 295px;
    height: 18px;
    left: 16px;
    right: 16px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #979493;
    border: none;
    text-align: left;
    padding-left: 24px;
  }

  .text-area {
    width: 300px;
    height: 114px;
    border: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #3c3a39;
    background: #fbf8f7;
    margin-right: 4px;
    padding-left: 24px;
  }

  .get-in-touch-form {
    width: 137px;
    height: 74px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    background: #ff6b00;
    color: white;
    border: none;
    flex: 1;
    padding: 12px;
  }

  .get-in-touch-form:hover {
    width: 137px;
    height: 74px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    background: #fff5e1;
    color: #ff6b00;
    border: none;
    flex: 1;
    padding: 12px;
  }

  .wrapper-B {
    margin: 0 auto;
    width: 375px;
    height: 40px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-items: right;
    border-top-style: solid;
    border-top-color: #dfe1e6;
    border-top-width: 1px;
    flex: 1;
  }

  .social-group-end {
    width: 307px;
    height: 24px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    margin-left: 45px;
  }

  .rectangle {
    height: 3px;
    width: 100px;
    background-color: #555;
    margin-left: 145px;
  }

  .mobile-menu {
    display: none;
    margin: 0 auto;
    flex-direction: column;
    justify-content: flex-end;
    width: 375px;
    height: 812px;
    float: inline-start;
    background: #3c3a39;
    box-shadow: 1px 48px 48px rgba(37, 47, 137, 0.08);
  }

  .cross {
    display: flex;
    justify-content: flex-end;
    padding: 37px;
  }

  .entries {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: #fff5e1;
    padding: 15px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #6f6c6b;
    margin: 12px 24px 24px 24px;
  }

  .contact-entries {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: #fff5e1;
    padding: 15px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #6f6c6b;
    margin: 12px 24px 324px 24px;
  }

  .rectangle-white {
    margin: 0 auto;
    background-color: #e5e5e5;
    width: 375px;
    height: 57px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  .line-decoration {
    margin: 0 auto;
    width: 100px;
    height: 1px;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: #6f6c6b;
    margin-bottom: 5px;
  }

  .overlay {
    position: fixed;
    width: 375px;
    height: 600px;
    top: 0%;
    left: 10%;
    right: 10%;
    margin-right: auto;
    margin-left: auto;
    background: #979493;
    display: none;
    z-index: 1;
    mix-blend-mode: multiply;
  }

  .container-pop-up {
    box-sizing: border-box;
    padding: 16px;
    gap: 24px;
    position: fixed;
    width: 360px;
    height: 500px;
    left: calc(50% - 343px / 2);
    top: 10px;
    background: #fff;
    border: 1px solid #dfe1e6;
    z-index: 2;
    overflow-y: scroll;
  }

  .wrapper-0 {
    display: flex;
    flex-direction: column;
  }

  .wrapper-1 {
    display: flex;
    flex-direction: row;
    flex: 1;
  }

  .wrapper-2 {
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: 16px;
    margin-bottom: 16px;
  }

  .wrapper-3 {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 16px;
  }

  .wrapper-4 {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .wrapper-5 {
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: 16px;
  }

  .blue {
    background-color: white;
    flex: 1;
  }

  .red {
    background-color: white;
    flex: 1;
  }

  .yellow {
    background-color: white;
    flex: 0.1;
  }

  .green {
    background-color: white;
    flex: 1;
  }

  .orange {
    background-color: white;
    flex: 1;
  }

  .brown {
    background-color: white;
    flex: 1;
  }

  .white {
    background-color: white;
    flex: 0.1;
  }

  .title-multi-popup-mobile {
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 44px;
    color: #091e42;
  }

  .title-multi-popup-desktop {
    display: none;
    float: left;
  }

  .cross-popup {
    display: flex;
    justify-content: flex-end;
    padding: 37px;
  }

  .image-work-popup {
    width: 100%;
  }

  .button-container-popup {
    list-style: none;
    display: flex;
    column-gap: 15px;
  }

  .works-description-popup {
    width: 300px;
    height: 247px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #091e42;
    margin-bottom: 24px;
  }

  .orange-button-popup {
    width: 134px;
    height: 28px;
    padding: 12px;
    gap: 12px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.03em;
    color: #fff;
    background: #ff6b00;
    flex: 1;
  }

  .img-popup {
    width: 28px;
    height: 28px;
    flex: 1;
  }

  .orange-button-popup:hover {
    width: 134px;
    height: 28px;
    padding: 12px;
    gap: 12px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.03em;
    color: #ff6b00;
    background: #fff5e1;
    border: 1px solid #ff6b00;
    flex: 1;
  }
}
